[submodule "tmuxTools/tmux"]
	path = tmuxTools/tmux
	url = https://github.com/tmux/tmux.git
[submodule "tmuxTools/.tmux/plugins/tpm"]
	path = tmuxTools/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vimTools/ThirdPartyTools/Bear"]
	path = vimTools/ThirdPartyTools/Bear
	url = https://github.com/rizsotto/Bear.git
[submodule "vimTools/ThirdPartyTools/ctags-win32"]
	path = vimTools/ThirdPartyTools/ctags-win32
	url = https://github.com/universal-ctags/ctags-win32.git
[submodule "vimTools/ThirdPartyTools/ctags"]
	path = vimTools/ThirdPartyTools/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "vimTools/ThirdPartyTools/cppcheck"]
	path = vimTools/ThirdPartyTools/cppcheck
	url = https://github.com/danmar/cppcheck.git
[submodule "vimTools/ThirdPartyTools/the_silver_searcher"]
	path = vimTools/ThirdPartyTools/the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher.git
[submodule "vimTools/vim"]
	path = vimTools/vim
	url = https://github.com/vim/vim.git
[submodule "chromeTools/vimium"]
	path = chromeTools/vimium
	url = https://github.com/philc/vimium.git
[submodule "chromeTools/node"]
	path = chromeTools/node
	url = https://github.com/nodejs/node.git
[submodule "zshTools/oh-my-zsh"]
	path = zshTools/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vimTools/ThirdPartyTools/fzf"]
	path = zshTools/ThirdPartyTools/oh-my-zsh
	url = https://github.com/junegunn/fzf.git
[submodule "sysTools/ranger"]
	path = sysTools/ranger
	url = https://github.com/ranger/ranger.git
[submodule "sysTools/i3wm"]
	path = sysTools/i3wm
	url = https://github.com/i3/i3.git
