!look and feel
xterm.termName: xterm-256color
!fix alt key input
xterm*altSendsEscape: true

xterm*selectToClipboard:true
xterm*background: black
xterm*foreground: #FFFFFF
xterm*cursorBlink:false
!font and locale
xterm*faceName: Inconsolata Nerd Font Mono
xterm*faceNameDoublesize: WenQuanYi Zen Hei Mono:Regular=True: pixelsize=16
xterm*faceSize: 14
xterm*locale: zh_CN.UTF-8
XTerm*disallowedWindowOps: 20,21,SetXprop


!改了配置后，需要执行xrdb -merge ~/.Xresources  更新配置

