!look and feel
xterm.termName: xterm-256color
!fix alt key input
xterm*altSendsEscape: true

xterm*selectToClipboard:true
xterm*background: black
xterm*foreground: #FFFFFF
xterm*cursorBlink:true
!font and locale
xterm*faceName: Monaco:antialias=True:pixelsize=15
xterm*faceNameDoublesize: WenQuanYi Zen Hei Mono:Regular=True: pixelsize=16
xterm*locale: zh_CN.UTF-8
!xterm*faceNameDoublesize: WenQuanYi Zen Hei Mono:Regular=True:pixelsize=16
