priority -49
#################
# Rust Snippets #
#################

snippet snipVec "use normal vec" b
	let ${1:varName}: Vec<${2:Type}> = Vec::new();
endsnippet

snippet snipVecWithInitialValues
	let ${1:NarName} = vec![1, 2, 3];
endsnippet
